In [ ]:
import sqlite3
import pandas as pd

In [ ]:
conn = sqlite3.connect("INSTRUCTOR.db")

In [ ]:
cursor = conn.cursor()

Drop table if already existing

In [ ]:
cursor.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [ ]:
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR(
    ID INTEGER PRIMARY KEY NOT NULL, 
    FNAME VARCHAR(20), 
    LNAME VARCHAR(20), 
    CITY VARCHAR(20), 
    CCODE CHAR(2));"""

In [ ]:
cursor.execute(table)
print("Table ready")

In [ ]:
cursor.execute(
    """insert into INSTRUCTOR values (1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), 
    (2, 'Raul', 'Chong', 'Markham', 'CA'), 
    (3, 'Hima', 'Vasudevan', 'Chicago', 'US')"""
)

display everything from the database

In [ ]:
cursor.execute("SELECT * FROM INSTRUCTOR")

In [ ]:
cursor.fetchone()

fetchmany returns a list as its result

In [ ]:
all = cursor.fetchmany(2)

In [ ]:
all

In [ ]:
cursor.execute("SELECT FNAME FROM INSTRUCTOR")
f_names = cursor.fetchall()
print("First names are : ")
for f_name in f_names:
    print(f_name)

updating a record

In [ ]:
update = '''update INSTRUCTOR set CITY='MOOSETOWN' where FNAME="Rav"'''

In [ ]:
cursor.execute(update)

In [ ]:
cursor.fetchone()

We can also retrieve the data into a pandas dataframe

In [ ]:
df = pd.read_sql_query('SELECT * FROM INSTRUCTOR', conn)

In [ ]:
df

close the connection

In [ ]:
conn.close()