In [1]:
import re

In [6]:
s1 = 'My name is Sammy Nyangweso, I am 12 years amd  my phone no. is +254112686783'

In [7]:
pattern1 = r'Sammy'
result = re.search(pattern1, s1)
print(result)

<re.Match object; span=(11, 16), match='Sammy'>

In [8]:
# Using special sequences for pattern matching
pattern2 = r'\d\d\d\d' # Searches for 4 consecutive digit characters.
result = re.search(pattern2, s1)
print(result)

<re.Match object; span=(64, 68), match='2541'>

In [14]:
# using findall() to find all occurences of a pattern
pattern3 = r'\W'
result = re.findall(pattern3, s1)
print(f'The non-word characters in the string s1 are : {result}')

The non-word characters in the string s1 are : [' ', ' ', ' ', ' ', ',', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', '.', ' ', ' ', '+']

In [15]:
# Use the split function to split the string by the "\s"
split_array = re.split("\s", s1)

# The split_array contains all the substrings, split by whitespace characters
print(split_array)

['My', 'name', 'is', 'Sammy', 'Nyangweso,', 'I', 'am', '12', 'years', 'amd', '', 'my', 'phone', 'no.', 'is', '+254112686783']

In [16]:
# using sub() to replace all occurences of a pattern
# defining regex to search for
pattern4 = 'Sammy'
# defining the replacement string
replacement = 'Sam'

new_str = re.sub(pattern4, replacement, s1, flags = re.IGNORECASE)
print(new_str)

My name is Sam Nyangweso, I am 12 years amd  my phone no. is +254112686783

In [22]:
new_str.split(' ')

['My',
 'name',
 'is',
 'Sam',
 'Nyangweso,',
 'I',
 'am',
 '12',
 'years',
 'amd',
 '',
 'my',
 'phone',
 'no.',
 'is',
 '+254112686783']

In [23]:
new_str

'My name is Sam Nyangweso, I am 12 years amd  my phone no. is +254112686783'

In [24]:
new_str.split()

['My',
 'name',
 'is',
 'Sam',
 'Nyangweso,',
 'I',
 'am',
 '12',
 'years',
 'amd',
 'my',
 'phone',
 'no.',
 'is',
 '+254112686783']

In [25]:
int(True)

1

In [26]:
set1 = {1, 2, 3, 4, 4, 1, 6}

In [27]:
set1

{1, 2, 3, 4, 6}

In [2]:
breakfast = {'milk porridge': [age for age in range(0, 10)],
             'sandwich': [age for age in range(10, 15)],
             'burger': [age for age in range(15, 18)]}
age_sam = 10
for bf, v in breakfast.items():
    for age in v:
        if age_sam == age:
            print(f'Breakfast = {bf}')

Breakfast = sandwich

In [7]:
PlayListRatings = [10, 9.5, 10, 8, 7.5, 5, 10, 10]
i = 0
while(PlayListRatings[i] >= 6):
    print(PlayListRatings[i])
    i += 1

10
9.5
10
8
7.5

In [9]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0
while(squares[i] == 'orange'):
    new_squares.append(squares[i])
    i += 1
print(new_squares)

['orange', 'orange']

In [14]:

table = [6,7]
for val in table:
    print(f'Multiplication table of {val} :')
    for i in range(10):
        print(f'{val} * {i} = {val * i}')

Multiplication table of 6 :
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
Multiplication table of 7 :
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [29]:
# Write your code here
animals = ["lion", "giraffe", "gorilla", "parrots", "crocodile","deer", "swan"]
animals_with_seven_letters = []
i = 0
while(i < len(animals)):
    if len(animals[i]) == 7:
        animals_with_seven_letters.append(animals[i])
    i += 1  

print(animals_with_seven_letters, animals, sep = '\n')

['giraffe', 'gorilla', 'parrots']
['lion', 'giraffe', 'gorilla', 'parrots', 'crocodile', 'deer', 'swan']

In [34]:
for x in enumerate(['A','B','C']):
    print(x)

(0, 'A')
(1, 'B')
(2, 'C')

In [35]:
squares

['orange', 'orange', 'purple', 'blue ', 'orange']

In [38]:
cnt = {}
for colour in squares:    
    cnt[colour] = squares.count(colour)

print(cnt)

{'orange': 3, 'purple': 1, 'blue ': 1}