### Fruityvice API
Fruityvice is a webservice that provides data for all kinds of fruits<br>
Let's extract some information for fun

In [1]:
import pandas as pd
from randomuser import RandomUser
import json
import requests

In [2]:
r = RandomUser()

In [6]:
print(r.__repr__)

<method-wrapper '__repr__' of RandomUser object at 0x7f890d1b9450>

In [10]:
name_list = r.generate_users(10)

To get full name...the appropriate <b>get_param</b> will be <b>get_full_name()</b>

In [15]:
r.get_full_name()
r.get_id_number()
r.get

You can also loop to get the users stored in the list created above

In [17]:
for name in name_list:
    # show id, full name and email using the appropriate get methods
    print(f'{name.get_id_number()} {name.get_full_name()} {name.get_email()}', end='\n', sep='    ')

None Sabine Rebmann sabine.rebmann@example.com
03038123792 Marcus Tvedt marcus.tvedt@example.com
62214889 Clazina Van der Weijden clazina.vanderweijden@example.com
None Volker Rempel volker.rempel@example.com
756.7661.0863.95 Hans-Ulrich Schmitt hans-ulrich.schmitt@example.com
8019268T Scarlett Phillips scarlett.phillips@example.com
None Rosl Uhrig rosl.uhrig@example.com
1NNaN37106985 21 Elio Fournier elio.fournier@example.com
None Gerhart Häfele gerhart.hafele@example.com
None Georgios Buß georgios.buss@example.com

In [19]:
# To get picture of five users
for name in name_list:
    print(name.get_picture())

https://randomuser.me/api/portraits/women/15.jpg
https://randomuser.me/api/portraits/men/70.jpg
https://randomuser.me/api/portraits/women/88.jpg
https://randomuser.me/api/portraits/men/8.jpg
https://randomuser.me/api/portraits/men/43.jpg
https://randomuser.me/api/portraits/women/7.jpg
https://randomuser.me/api/portraits/women/78.jpg
https://randomuser.me/api/portraits/men/92.jpg
https://randomuser.me/api/portraits/men/78.jpg
https://randomuser.me/api/portraits/men/52.jpg

We can now store the data in a table...that's where pandas comes in.<br>
This is how one can create a dummy data for testing your code

In [21]:
def get_users():
    users = []
    
    for user in RandomUser.generate_users(10):
        data = {'Name' : user.get_full_name(), 'Gender' : user.get_gender(), 'Email' : user.get_email()}
        users.append(data)
    
    return users

In [22]:
df = pd.DataFrame(get_users())
df

                 Name  Gender                           Email
0      Patrick Garcia    male      patrick.garcia@example.com
1       Tarjei Hellem    male       tarjei.hellem@example.com
2        Mehmet Çetin    male        mehmet.cetin@example.com
3      Othmar Laurent    male      othmar.laurent@example.com
4   Roy Schaarschmidt    male   roy.schaarschmidt@example.com
5      Pauline Løvoll  female      pauline.lovoll@example.com
6      Davut Nebioğlu    male      davut.nebioglu@example.com
7      Jessica Jünger  female      jessica.junger@example.com
8     Timothy Elliott    male     timothy.elliott@example.com
9  Christina Fletcher  female  christina.fletcher@example.com

### Now Onto matters relating to FruitVice

In [12]:
# Get data from its API using the get()
url = 'https://fruityvice.com/api/fruit/all'
get_response = requests.get(url)
print(f"{get_response.status_code} \nType : {get_response.headers['Content-Type']}")

200
Type : application/json

In [15]:
results = json.loads(get_response.text)

In [17]:
fruity_df = pd.json_normalize(results)

In [26]:
# To find the calories in a banana
banana = fruity_df.loc[fruity_df["name"] == 'Banana']
banana.iloc[0]["nutritions.calories"]

96