### Chicago Public School - Progress Report Cards (2011 - 2012)
This is a quick look at the Chicago Public School level Perfomance

In [ ]:
import pandas as pd
import numpy as np
import csv
import sqlite3

In [ ]:
conn = sqlite3.connect("ChicagoData.db")
c = conn.cursor()

In [ ]:
%load_ext sql

In [ ]:
%sql sqlite:///ChicagoData.db

We first need to convert the Chicago CSV file to sql using pandas

In [ ]:
# df.to_sql(name="ChicagoData.db", con=conn, if_exists="replace", method="multi")

In [ ]:
df = pd.read_sql("SELECT * FROM 'ChicagoData.db'", conn)
df_columns = df.columns

To check if database exists...you can extract the metadata from the sqlite_master

In [ ]:
%sql SELECT  * FROM SQLITE_MASTER WHERE TYPE='Table'

To retrieve column metadata

In [ ]:
%%sql
SELECT COUNT(name) FROM PRAGMA_TABLE_INFO('ChicagoData.db')

In [ ]:
%sql SELECT name,type,length(type) FROM PRAGMA_TABLE_INFO('ChicagoData.db')

No. of elementary schools in the dataset

In [ ]:
%%sql
SELECT "Elementary, Middle, or High School", COUNT(*) AS TOTAL FROM 'ChicagoData.db' GROUP BY "Elementary, Middle, or High School"

Max Safety Score

In [ ]:
%sql SELECT MAX(SAFETY_SCORE) FROM 'ChicagoData.db'

Schools with highest safety score

In [ ]:
%sql SELECT "NAME_OF_SCHOOL" FROM "ChicagoData.db" WHERE SAFETY_SCORE = (SELECT MAX(SAFETY_SCORE) FROM "ChicagoData.db")

Top 10 schools with highest Average Student Attendance

In [ ]:
%sql SELECT NAME_OF_SCHOOL FROM "ChicagoData.db" ORDER BY AVERAGE_STUDENT_ATTENDANCE DESC NULLS LAST LIMIT 10

Top 5 schools with lowest Average School Attendance sorted in ascending order based on attendance<BR>
You can use NULLS LAST to remove the null columns

In [ ]:
%sql SELECT NAME_OF_SCHOOL, AVERAGE_STUDENT_ATTENDANCE FROM "ChicagoData.db" ORDER BY AVERAGE_STUDENT_ATTENDANCE LIMIT 5

You can use the REPLACE function to remove the '%'  in the average attendance i.e

In [ ]:
%sql SELECT NAME_OF_SCHOOL, REPLACE(AVERAGE_STUDENT_ATTENDANCE, '%', '') AS AVERAGE_STUDENT_ATTENDANCE FROM "ChicagoData.db" \
    ORDER BY AVERAGE_STUDENT_ATTENDANCE LIMIT 5

Schools that have average attendace lower than 70% include

In [ ]:
%sql SELECT "NAME_OF_SCHOOL", AVERAGE_STUDENT_ATTENDANCE FROM "ChicagoData.db" \
    WHERE AVERAGE_STUDENT_ATTENDANCE < 70\
    ORDER BY AVERAGE_STUDENT_ATTENDANCE

Looking at the total college enrollment for each Community Area

In [ ]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT\
    FROM "ChicagoData.db" GROUP BY COMMUNITY_AREA_NAME

In [ ]:
%sql SELECT COMMUNITY_AREA_NUMBER, COMMUNITY_AREA_NAME, SUM(COLLEGE_ENROLLMENT) AS TOTAL_ENROLLMENT \
    FROM "ChicagoData.db" GROUP BY COMMUNITY_AREA_NAME ORDER BY TOTAL_ENROLLMENT \
        LIMIT 5

Schools with lowest safety score

In [ ]:
%sql SELECT "NAME_OF_SCHOOL", SAFETY_SCORE FROM "ChicagoData.db" ORDER BY SAFETY_SCORE NULLS LAST LIMIT 5

In [ ]:
%sql SELECT COMMUNITY_AREA_NAME,  FROM "ChicagoData.db" WHERE COLLEGE_ENROLLMENT = 4368

In [ ]:
df_columns